@font-face {
    -fx-font-family: Inter;
    src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
    -fx-font-family: 'InterBold';
    src: url("../fonts/Inter-Bold.ttf");
}

.pane {
    -fx-background-color: #EAECF0;
}

.vbox {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #BBBBBB;
}

/* Login Button */
.login-button {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-font: 14px 'Helvetica';
    -fx-padding: 12px 24px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.login-button-img {
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -width-size: 12;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z";
}

.login-button:hover {
    -fx-background-color: #154FEF;
}

.login-button:pressed {
    -fx-background-color: #5280FF;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #5280FF;
}

/* TextField -> Login Input */

.login-input {
    -fx-cursor: text;
    -fx-font: 14px 'Helvetica';
    -fx-prompt-text-fill: gray;
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #D0D5DD;
    -fx-padding: 8px 16px;
}

.login-input:hover {
    -fx-background-color: #F8FAFC;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
}

.login-input:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
}

.login-input-error {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.login-input-error:hover {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.login-input-error:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.login-error {
    -fx-text-fill: red;
    -fx-font: 12px 'Helvetica';
}

/* PasswordField -> Password Input */
.password-input {
    -fx-cursor: text;
    -fx-font: 14px 'Helvetica';
    -fx-background-color: white;
    -fx-prompt-text-fill: gray;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #D0D5DD;
    -fx-padding: 8px 16px;
}

.password-input:hover {
    -fx-background-color: #F8FAFC;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
}

.password-input:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
}

.password-input-error {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.password-input-error:hover {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.password-input-error:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

/* Label -> LoginTitle */
.login-title {
    -fx-font: 24px 'Helvetica';
    -fx-font-weight: bold;
    -fx-margin-bottom: 100px;
}

/* VBox -> SideBar */
.sidebar {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #EAECF0;
}

.sidebar-title-container {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.sidebar-title {
    -fx-font: 24px 'Helvetica';
    -fx-font-weight: bold;
}

.sidebar-profil-container {
    -fx-border-style: solid;
    -fx-border-width: 1px 0 0 0;
    -fx-border-color: #EAECF0;
}

.sidebar-tab {
    -fx-font: 14px 'Helvetica';
    -fx-text-fill: #667085;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-color: white;
}

.sidebar-tab:hover {
    -fx-background-color: #F8FAFC;
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
    -fx-border-radius: 4px;
}

.sidebar-tab:pressed {
    -fx-background-color: white;
}

.sidebar-tab-subtitle {
    -fx-font: 12px 'Helvetica';
    -fx-text-fill: #98A2B3;
}

.sidebar-tab-active {
    -fx-background-color: #F8FAFC;
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
}

.sidebar-tab-img {
    -fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
}

.sidebar-tab-img-commande {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192H32c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512H430c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32H458.4L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192H171.7L253.3 35.1zM192 304v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16zm128 16v96c0 8.8-7.2 16-16 16s-16-7.2-16-16V304c0-8.8 7.2-16 16-16s16 7.2 16 16z";
}

.sidebar-tab-img-dashboard {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M64 64c0-17.7-14.3-32-32-32S0 46.3 0 64V400c0 44.2 35.8 80 80 80H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H80c-8.8 0-16-7.2-16-16V64zm406.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L320 210.7l-57.4-57.4c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L240 221.3l57.4 57.4c12.5 12.5 32.8 12.5 45.3 0l128-128z";
}

.sidebar-tab-img-tournee {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M640 0V400c0 61.9-50.1 112-112 112c-61 0-110.5-48.7-112-109.3L48.4 502.9c-17.1 4.6-34.6-5.4-39.3-22.5s5.4-34.6 22.5-39.3L352 353.8V64c0-35.3 28.7-64 64-64H640zM576 400c0-26.5-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48s48-21.5 48-48zM23.1 207.7c-4.6-17.1 5.6-34.6 22.6-39.2l46.4-12.4 20.7 77.3c2.3 8.5 11.1 13.6 19.6 11.3l30.9-8.3c8.5-2.3 13.6-11.1 11.3-19.6l-20.7-77.3 46.4-12.4c17.1-4.6 34.6 5.6 39.2 22.6l41.4 154.5c4.6 17.1-5.6 34.6-22.6 39.2L103.7 384.9c-17.1 4.6-34.6-5.6-39.2-22.6L23.1 207.7z";
}

.sidebar-tab-img-vehicules {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M48 0C21.5 0 0 21.5 0 48V368c0 26.5 21.5 48 48 48H64c0 53 43 96 96 96s96-43 96-96H384c0 53 43 96 96 96s96-43 96-96h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V288 256 237.3c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7H416V48c0-26.5-21.5-48-48-48H48zM416 160h50.7L544 237.3V256H416V160zM208 416c0 26.5-21.5 48-48 48s-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48zm272 48c-26.5 0-48-21.5-48-48s21.5-48 48-48s48 21.5 48 48s-21.5 48-48 48z";
}

.sidebar-tab-img-producteur {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z";
}

.sidebar-tab-img-client {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z";
}

.sidebar-tab-img-accounts {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zm40-176c-22.1 0-40-17.9-40-40s17.9-40 40-40s40 17.9 40 40s-17.9 40-40 40z";
}

.sidebar-tab-img-marketplace {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M547.6 103.8L490.3 13.1C485.2 5 476.1 0 466.4 0H109.6C99.9 0 90.8 5 85.7 13.1L28.3 103.8c-29.6 46.8-3.4 111.9 51.9 119.4c4 .5 8.1 .8 12.1 .8c26.1 0 49.3-11.4 65.2-29c15.9 17.6 39.1 29 65.2 29c26.1 0 49.3-11.4 65.2-29c15.9 17.6 39.1 29 65.2 29c26.2 0 49.3-11.4 65.2-29c16 17.6 39.1 29 65.2 29c4.1 0 8.1-.3 12.1-.8c55.5-7.4 81.8-72.5 52.1-119.4zM499.7 254.9l-.1 0c-5.3 .7-10.7 1.1-16.2 1.1c-12.4 0-24.3-1.9-35.4-5.3V384H128V250.6c-11.2 3.5-23.2 5.4-35.6 5.4c-5.5 0-11-.4-16.3-1.1l-.1 0c-4.1-.6-8.1-1.3-12-2.3V384v64c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V384 252.6c-4 1-8 1.8-12.3 2.3z";
}

.sidebar-tab-img-adresses {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 15;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z";
}

.sidebar-tab-img-profil {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z";
}

.sidebar-tab-img-ticket {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M0 128C0 92.7 28.7 64 64 64H512c35.3 0 64 28.7 64 64v80c-26.5 0-48 21.5-48 48s21.5 48 48 48v80c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V304c26.5 0 48-21.5 48-48s-21.5-48-48-48V128z";
}

.sidebar-profil-name {
    -fx-font: 12px 'Helvetica';
    -fx-text-fill: #101828;
}

.sidebar-profil-email {
    -fx-font: 10px 'Helvetica';
    -fx-text-fill: #667085;
}

.sidebar-profil-disconnect-button {
    -icon-paint: #475467;
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z";
}

.sidebar-profil-disconnect-button-container {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
    -fx-border-radius: 4px;
}

.sidebar-profil-disconnect-button-container:hover {
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

/* Dashboard */

.dashboard-feed-container {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2px, 0px, 4px);
}

.dashboard-feed-line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: #D0D5DD;
}

.dashboard-stats-box {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2px, 0px, 4px);
}

.dashboard-chart {
    -fx-background-color: white;
}

.dashboard-stats-order-icon {
    -width-size: 32;
    -height-size: 30;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
    -fx-fill: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-shape: "M25.27,86.92c-1.81,0-3.26-1.46-3.26-3.26s1.47-3.26,3.26-3.26h21.49c1.81,0,3.26,1.46,3.26,3.26s-1.46,3.26-3.26,3.26 H25.27L25.27,86.92L25.27,86.92z M61.1,77.47c-0.96,0-1.78-0.82-1.78-1.82c0-0.96,0.82-1.78,1.78-1.78h4.65c0.04,0,0.14,0,0.18,0 c1.64,0.04,3.1,0.36,4.33,1.14c1.37,0.87,2.37,2.19,2.92,4.15c0,0.04,0,0.09,0.05,0.14l0.46,1.82h39.89c1,0,1.78,0.82,1.78,1.78 c0,0.18-0.05,0.36-0.09,0.55l-4.65,18.74c-0.18,0.82-0.91,1.37-1.73,1.37l0,0l-29.18,0c0.64,2.37,1.28,3.65,2.14,4.24 c1.05,0.68,2.87,0.73,5.93,0.68h0.04l0,0h20.61c1,0,1.78,0.82,1.78,1.78c0,1-0.82,1.78-1.78,1.78H87.81l0,0 c-3.79,0.04-6.11-0.05-7.98-1.28c-1.92-1.28-2.92-3.46-3.92-7.43l0,0L69.8,80.2c0-0.05,0-0.05-0.04-0.09 c-0.27-1-0.73-1.69-1.37-2.05c-0.64-0.41-1.5-0.59-2.51-0.59c-0.05,0-0.09,0-0.14,0H61.1L61.1,77.47L61.1,77.47z M103.09,114.13 c2.42,0,4.38,1.96,4.38,4.38s-1.96,4.38-4.38,4.38s-4.38-1.96-4.38-4.38S100.67,114.13,103.09,114.13L103.09,114.13L103.09,114.13z M83.89,114.13c2.42,0,4.38,1.96,4.38,4.38s-1.96,4.38-4.38,4.38c-2.42,0-4.38-1.96-4.38-4.38S81.48,114.13,83.89,114.13 L83.89,114.13L83.89,114.13z M25.27,33.58c-1.81,0-3.26-1.47-3.26-3.26c0-1.8,1.47-3.26,3.26-3.26h50.52 c1.81,0,3.26,1.46,3.26,3.26c0,1.8-1.46,3.26-3.26,3.26H25.27L25.27,33.58L25.27,33.58z M7.57,0h85.63c2.09,0,3.99,0.85,5.35,2.21 s2.21,3.26,2.21,5.35v59.98h-6.5V7.59c0-0.29-0.12-0.56-0.31-0.76c-0.2-0.19-0.47-0.31-0.76-0.31l0,0H7.57 c-0.29,0-0.56,0.12-0.76,0.31S6.51,7.3,6.51,7.59v98.67c0,0.29,0.12,0.56,0.31,0.76s0.46,0.31,0.76,0.31h55.05 c0.61,2.39,1.3,4.48,2.23,6.47H7.57c-2.09,0-3.99-0.85-5.35-2.21C0.85,110.24,0,108.34,0,106.25V7.57c0-2.09,0.85-4,2.21-5.36 S5.48,0,7.57,0L7.57,0L7.57,0z M25.27,60.25c-1.81,0-3.26-1.46-3.26-3.26s1.47-3.26,3.26-3.26h50.52c1.81,0,3.26,1.46,3.26,3.26 s-1.46,3.26-3.26,3.26H25.27L25.27,60.25L25.27,60.25z";
}

.dashboard-stats-order-icon-container {
    -width-size: 32;
    -height-size: 30;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
}

.dashboard-stats-order-title {
    -fx-font: 12px 'Helvetica';
    -fx-text-fill: #667085;
}

.dashboard-stats-order-number {
    -fx-font: 20px 'Helvetica';
    -fx-font-weight: bold;
    -fx-text-fill: #154FEF;
}

.dashboard-welcome {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2px, 0px, 4px);
}

.dashboard-welcome-title {
    -fx-font: 20px 'Helvetica';
    -fx-font-weight: 600;
}

.dashboard-welcome-subtitle {
    -fx-font: 12px 'Helvetica';
    -fx-text-fill: #667085;
}

.dashboard-welcome-buttonwhite {
    -fx-cursor: hand;
    -fx-font: 12px 'Helvetica';
    -fx-font-weight: 700;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
}

.dashboard-welcome-buttonwhite:hover {
    -fx-border-color: #344054;
    -fx-background-color: #F8FAFC;
}

.dashboard-welcome-buttonwhite:pressed {
    -fx-text-fill: #667085;
    -fx-background-color: #F8FAFC;
    -fx-border-color: #667085;
}

.dashboard-welcome-buttonblue {
    -fx-cursor: hand;
    -fx-font: 12px 'Helvetica';
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-radius: 4px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
}

.dashboard-welcome-buttonblue:hover {
    -fx-background-color: #154FEF;
}

.dashboard-welcome-buttonblue:pressed {
    -fx-background-color: #5280FF;
    -fx-border-color: #5280FF;
}

.dashboard-welcome-avatar {
    -icon-paint: #154FEF;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z";
}

.notificationsFeed {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2px, 0px, 4px);
}

.notificationsFeed-line {
    -fx-background-color: white;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.notificationsFeed-line-title {
    -fx-font: 14px 'Helvetica';
}

.notificationsFeed-line-subtitle {
    -fx-font: 12px 'Helvetica';
    -fx-text-fill: #667085;
}

.notificationsFeed-line-time {
    -fx-font: 10px 'Helvetica';
    -fx-text-fill: #667085;
}

.notificationsFeed-line-new {
    -fx-background-color: #F8FAFC;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

/* Commande Interface */

.commande-tableview {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2px, 0px, 4px);
}

.commande-tableview-column {
    -fx-background-color: #F8FAFC;
    -fx-font: 14px 'Helvetica';
    -fx-text-fill: #475467;
    -fx-padding: 5px;
}

.commande-tableview-header {
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 8px 8px 0 0;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.commande-tableview-header-title {
    -fx-font: 14px 'Helvetica';
    -fx-text-fill: #475467;
}

.commande-tableview-line {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.commande-tableview-line-cell {

}

.successPopup {
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -4, 0, 4);
}

.successPopup-indicator {
    -fx-background-color: #16B364;
    -fx-background-radius: 8px 8px 0 0;
    -fx-border-radius: 8px 8px 0 0;
}

.successPopup-img {
    -icon-paint: #16B364;
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z";
}

.successPopup-title {
    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 700;
}

.successPopup-subtitle {
    -fx-text-fill: #667085;
    -fx-font: 14px 'Helvetica';
}

.successPopup-close {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.successPopup-close:hover {
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

.successPopup-close-img {
    -icon-paint: #475467;
    -fx-background-color: -icon-paint;
    -width-size: 8;
    -height-size: 8;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z";
}

.addButton {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-radius: 50%;
    -fx-text-fill: white;
}

.addButton:hover {
    -fx-background-color: #154FEF;
}

.addButton:pressed {
    -fx-background-color: #5280FF;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #5280FF;
    -fx-border-radius: 50%;
}
.addButton-img {
    -icon-paint: white;
    -fx-background-color: -icon-paint;
    -width-size: 10;
    -height-size: 10;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z";
}

.back-button {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-border-style: none;
    -fx-text-fill: #667085;
}

.back-button:hover {
    -fx-underline: true;
}

.back-button-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z";
}

.main-title {
    -fx-font: 24px 'Helvetica';
    -fx-font-weight: bold;
}

.scroll-pane > .view-port {
    -fx-background-color: transparent;
    -fx-border-style: none;
}

.scroll-pane > .view-port:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane {
    -fx-background: white;
    -fx-background-color: white;
    -fx-background-radius: 0 0 8px 8px;
    -fx-border-style: none;
    -fx-border-radius: 0 0 8px 8px;
    -fx-border-color: transparent;
}

.scroll-pane:focused {
    -fx-border-style: none;
    -fx-border-color: transparent;
}

/* AddCommande Interface */

.addCommandeButton {
    -fx-cursor: hand;
    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.addCommandeButton:hover {
    -fx-background-color: #154FEF;
}

.addCommandeButton:pressed {
    -fx-background-color: #5280FF;
    -fx-border-color: #5280FF;
}

.combo-box {
    -fx-background-color: white;
    -fx-prompt-text-fill: #667085;
    -fx-font: 14px 'Helvetica';
    -fx-border-radius: 4px;
    -fx-border-color: #EAECF0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.combo-box:hover {
    -fx-background-color: #F8FAFC;
}

.combo-box:focused {
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-border-radius: 4px;
}

.text-field {
    -fx-cursor: text;
    -fx-padding: 8px 16px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-color: #D0D5DD;
    -fx-border-radius: 4px;
    -fx-prompt-text-fill: #667085;
    -fx-font: 14px 'Helvetica';
}

.text-field:hover {
    -fx-background-color: #F8FAFC;
    -fx-border-color: #EAECF0;
}

.text-field:focused {
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
}

.text-field-error {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.text-field-error:hover {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

.text-field-error:focused {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: red;
}

/* Marketplace */

.marketplace-topcontainer {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
    -fx-border-style: solid;
}

.marketplace-tag {
    -fx-cursor: hand;
    -fx-text-fill: #475467;
    -fx-background-color: #EAECF0;
    -fx-background-radius: 999px;
    -fx-font-weight: 700;
}

.marketplace-tag:hover {

}

.marketplace-tag-active {
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-color: #667085;
    -fx-background-radius: 999px;
    -fx-font-weight: 700;
}

.marketplace-article {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-style: solid;
    -fx-border-color: #EAECF0;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2, 0, 4);
}

.marketplace-article-img {
    -fx-background-color: #F8FAFC;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.marketplace-article-title {
    -fx-font: 16px 'Helvetica';
    -fx-font-weight: 700;
    -fx-text-fill: #101828;
}

.marketplace-article-description {
    -fx-font: 14px 'Helvetica';
    -fx-text-fill: #667085;
}

.marketplace-article-button {
    -fx-cursor: hand;
    -fx-background-color: #DBE8FF;
    -fx-border-color: #B2C9FF;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-text-fill: #154FEF;
}

.marketplace-article-button:hover {
    -fx-border-color: #0046EB;
}

.marketplace-article-button:pressed {
    -fx-text-fill: #5280FF;
    -fx-border-color: #5280FF;
}

.marketplace-article-price {
    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 600;
}

.filechooser-button {
    -fx-cursor: hand;
    -fx-border-style: segments(10, 15, 15, 15);
    -fx-border-color: #D0D5DD;
    -fx-border-width: 1px;
    -fx-background-color: white;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;

    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 700;
    -fx-text-fill: #154FEF;
}

.filechooser-button-img {
    -icon-paint: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-color: -icon-paint;
    -width-size: 14;
    -height-size: 14;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M0 96C0 60.7 28.7 32 64 32H448c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96zM323.8 202.5c-4.5-6.6-11.9-10.5-19.8-10.5s-15.4 3.9-19.8 10.5l-87 127.6L170.7 297c-4.6-5.7-11.5-9-18.7-9s-14.2 3.3-18.7 9l-64 80c-5.8 7.2-6.9 17.1-2.9 25.4s12.4 13.6 21.6 13.6h96 32H424c8.9 0 17.1-4.9 21.2-12.8s3.6-17.4-1.4-24.7l-120-176zM112 192c26.5 0 48-21.5 48-48s-21.5-48-48-48s-48 21.5-48 48s21.5 48 48 48z";
}

.loading-container {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2, 0, 4);
}

.loading-title {
    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 700;
}

/* Profil */
.profil-img {
    -icon-paint: black;
    -fx-background-color: -icon-paint;
    -width-size: 80;
    -height-size: 90;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M272 304h-96C78.8 304 0 382.8 0 480c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32C448 382.8 369.2 304 272 304zM48.99 464C56.89 400.9 110.8 352 176 352h96c65.16 0 119.1 48.95 127 112H48.99zM224 256c70.69 0 128-57.31 128-128c0-70.69-57.31-128-128-128S96 57.31 96 128C96 198.7 153.3 256 224 256zM224 48c44.11 0 80 35.89 80 80c0 44.11-35.89 80-80 80S144 172.1 144 128C144 83.89 179.9 48 224 48z";
}

.profil-username {
    -fx-text-fill: #101828;
    -fx-font-weight: 600;
    -fx-font-size: 16;
}

.profil-grade {
    -fx-font-size: 14;
    -fx-text-fill: #667085;
}

.profil-container {
    -fx-border-radius: 8px;
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-border-color: #EAECF0;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2, 0, 4);
}

.profil-container-header {
    -fx-background-color: #F8FAFC;
    -fx-background-radius: 8px 8px 0 0;
}

.profil-container-header-title {
    -fx-font-size: 14;
    -fx-text-fill: #475467;
}

.profil-container-line {
    -fx-border-color: #EAECF0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style: solid;
}

.profil-container-line-title {
    -fx-text-fill: #667085;
}

.client-commande-tableview-line {
    -fx-cursor: hand;
    -fx-border-style: solid;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #EAECF0;
}

.client-commande-tableview-line:hover {
    -fx-background-color: #EAECF0;
}

.client-commande-tableview-line:pressed {

}

.client-commande-state-title {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.client-commande-state {
    -fx-background-color: #EAECF0;
    -fx-background-radius: 50%;
    -fx-border-width: 20px;
    -fx-border-style: solid;
    -fx-border-color: #EAECF0;
    -fx-border-radius: 50%;
}

.client-commande-state-done {
    -fx-background-color: #E1FBEA;
    -fx-background-radius: 50%;
    -fx-border-width: 20px;
    -fx-border-style: solid;
    -fx-border-color: #E1FBEA;
    -fx-border-radius: 50%;
}

.client-commande-first-state-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
}

.client-commande-first-state-img-done {
    -icon-paint: #099250;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z";
}

.client-commande-second-state-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z";
}

.client-commande-second-state-img-done {
    -icon-paint: #099250;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z";
}

.client-commande-third-state-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 24;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z";
}

.client-commande-third-state-img-done {
    -icon-paint: #099250;
    -fx-background-color: -icon-paint;
    -width-size: 24;
    -height-size: 20;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M470.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L192 338.7 425.4 105.4c12.5-12.5 32.8-12.5 45.3 0z";
}

.client-commande-details-line {
    -fx-border-color: #EAECF0;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style: solid;
}

.client-commande-details-line-title {
    -fx-text-fill: #667085;
}

.edit-button {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
}

.edit-button:hover {
    -fx-border-color: #667085;
}

.edit-button-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 12;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M362.7 19.3L314.3 67.7 444.3 197.7l48.4-48.4c25-25 25-65.5 0-90.5L453.3 19.3c-25-25-65.5-25-90.5 0zm-71 71L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4L1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L421.7 220.3 291.7 90.3z";
}

.delete-button {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-border-radius: 4px;
}

.delete-button:hover {
    -fx-border-color: #667085;
}

.delete-button-img {
    -icon-paint: #667085;
    -fx-background-color: -icon-paint;
    -width-size: 12;
    -height-size: 12;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;

    -fx-shape: "M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z";
}

/* Dialog confirmation */

.confirm-dialog {
    -fx-background-color: white;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, -2, 0, 4);
}

.confirm-dialog-title {
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.confirm-dialog-topbar-red {
    -fx-background-radius: 8px 8px 0 0;
    -fx-background-color: red;
}

.confirm-dialog-button-ok {
    -fx-cursor: hand;
    -fx-font: 14px 'Helvetica';
    -fx-font-weight: 700;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2970FF 0.2%, #0040C1 99.99%);
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.confirm-dialog-button-ok:hover {
    -fx-background-color: #154FEF;
}

.confirm-dialog-button-ok:pressed {
    -fx-background-color: #5280FF;
    -fx-border-color: #5280FF;
}

.confirm-dialog-button-cancel {
    -fx-cursor: hand;
    -fx-font-size: 12;
    -fx-font-weight: 700;
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: #EAECF0;
}

.warning-img {
    -icon-paint: red;
    -fx-background-color: -icon-paint;
    -width-size: 64;
    -height-size: 64;
    -fx-min-height: -height-size;
    -fx-min-width: -width-size;
    -fx-max-height: -height-size;
    -fx-max-width: -width-size;
    -fx-shape: "M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480H40c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24V296c0 13.3 10.7 24 24 24s24-10.7 24-24V184c0-13.3-10.7-24-24-24zm32 224c0-17.7-14.3-32-32-32s-32 14.3-32 32s14.3 32 32 32s32-14.3 32-32z";
}